---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title?: string;
	description?: string;
}

const { 
  title = "BINGOPLACE LIMITED | Wholesale & Distribution Manchester",
  description = "Official website of BINGOPLACE LIMITED. Leading non-specialised wholesale trade provider based in Manchester, UK."
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body class="flex flex-col min-h-screen">
		<Navbar />
		<main class="grow">
			<slot />
		</main>
		<Footer />
	</body>
</html>